@{
    ViewBag.Title = "Home Page";
}
<div class="index-wrapper" style="text-align:center; margin: 13rem 0;">
    <h3>
        This project is currently under development to show level of skill using the .Net stack.
    </h3>
    <h3> If you find any bugs or have suggestions please email me at: MnAnOrtiz@gmail.com</h3>

    <div>
        <h2 style="font-weight:bold;">Features:</h2>
        <ul style="list-style:none;">
            <li>Log-in/Log-Out functionality</li>
            <li>CRUD for Employees</li>
            <li>CRUD for Departments</li>
            <li>CRUD for Users</li>
            <li>Website permission tiers/levels</li>
            <li>Auto Generating an admin</li>
        </ul>

        <h2 style="font-weight:bold;">Upcoming features: </h2>
        <ul style="list-style:none;">
            <li>Email authenication.</li>
            <li>Password hashing(security)</li>
            <li>Import/Export of xml files</li>
            <li>Clients table</li>
            <li>Credit card processing.</li>
            <li>Installation Packaging</li>
            <li>Allow database to deal with Ajax functionality.</li>
        </ul>
        

    </div>
</div>